body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
}

.wheel-container {
    position: relative;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
}

#wheelCanvas {
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    color: #333;
    z-index: 2; /* Ensures arrow is above the canvas */
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 10px;
    z-index: 2; /* Ensures button is above the canvas */
}

.btn:hover,
.btn:focus {
    background-color: #0056b3;
}

.code-entry {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#codeInput {
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    flex-grow: 1;
    max-width: calc(100% - 120px);
}

#submitCodeBtn {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #007bff;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#submitCodeBtn:hover {
    background-color: #0056b3;
}

#resultText {
    margin-top: 20px;
    color: #28a745;
    font-size: 20px;
}

#balanceText {
    margin-top: 10px;
    font-size: 18px;
    color: #000;
}
